
<% layout("/layouts/boilerplate.ejs")%>
    <p> All Campgrounds</p>
    <DIV>
        <a href="/campgrounds/new">Add campground</a>
    </DIV>
    <ul>
        <% for (let campground of campgrounds) {%>
            <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></li>
        <% } %>
    </ul>
