<% layout("/layouts/boilerplate.ejs")%>

<h1><%= campground.title %></h1>
    <h1><%= campground.location %></h1>
    <footer>
        <p>
            <a href="/campgrounds/<%= campground._id%>/edit">edit</a>
        </p>
        <a href="/campgrounds">CAMPGROUNDS</a>
    </footer>
